binary\nbinary.modified_timestamps\ncache\nchroot\nchroot.files\nchroot.packages.install\nchroot.packages.live\nlive-image-amd64.contents\nlive-image-amd64.files\nlive-image-amd64.hybrid.iso.zsync\nlive-image-amd64.packages\nlocal\nIsofiles/*.iso
